<!DOCTYPE html>
<html>

<body>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  

  <table style="width:100% ; height:100vh ; padding: 25px; " >
    <tr>
          
  
      <td></td>
      <td rowspan="15" style="background-color:ivory; "><img src="assets/Steve-Biko-e1505210672827.jpg" width="150px" height="150px">
        <br><h2 style="text-align: center;">Njabulo Mlangeni</h2><br>
        <h3 style="text-align: center;">Programmer</h3><br>
        <ul >
          <li><a href="#">0769020059</a></li>
          <li><a href="#">njabulocelamandla@gmail.com</a></li>

          <li><a href="#">Drieziek ext 4</a></li>
        </ul>
        <br><h4>Profile</h4>
<p>
  Young motivational, enthusiastic, responsible individual looking for an opportunity
    to secure. With time
    management and excellent communication skills both verbal and written. With knowledge of Microsoft
    products and packages. With good interpersonal skills, problem solver, analytical thinker and ability to
    work under pressure, can work under supervision and as part of the team and with good understanding
    of project management.</p>
  
      <h4>Education</h4>
   
    <p>2015 - 2017
      <br>DUT<br>ND:Information Technology
      <br>
 
<h4>Experience</h4>

      <p>Aug 2018 - April 2019<br>
      Okhahlamba Local Municipality<br>

      <h4>Reference</h4><br>
     <p> Thami Makhubu - IT Manager [Okhahlamba local municipality]<br>
      036 448 8077<br><br>
      Zanele Makhaza - HR Manager [Okhahlamba local municipality]<br>
      036 448 8096
   
    </p>
    
    <a  routerLink="/contact-me" style="align-content: center"><i class="fas fa-arrow-alt-circle-right "></i></a>
    <td></td>
    </tr>
  </table>





</body>

</html>   
